<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>单品总账</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<div id="tb">
    产品名称：<input  id="searchInput"   >&nbsp;
    规格：<input  id="singleSpec"  class="easyui-combobox" data-options="valueField:'id',textField:'expSpec'" >&nbsp;
    时段：
    <!--<input type="text" id="startDate"  name="checkboxOne" class="easyui-datetimebox" data-options="formatter:myFormatter2,parser:w3" style="width: 155px" >&nbsp;到&nbsp;-->
    <!--<input type="text" id="stopDate"  name="checkboxOne" class="easyui-datetimebox" data-options="formatter:myFormatter2,parser:w3" style="width: 155px" >&nbsp;-->
    <input type="text" id="startDate"  name="checkboxOne" class="easyui-datetimebox"  style="width: 155px" >&nbsp;到&nbsp;
    <input type="text" id="stopDate"  name="checkboxOne" class="easyui-datetimebox"  style="width: 155px" >&nbsp;
</div>



<div class="easyui-datagrid" id="importDetail">
</div>


<div id="ft">
    <a class="easyui-linkbutton" href="#" data-options="iconCls:'icon-search'" id="searchBtn">提取</a>
    <a class="easyui-linkbutton" href="#" data-options="iconCls:'icon-print'" id="printBtn">打印</a>
    <!--<a class="easyui-linkbutton" href="#" data-options="iconCls:'icon-save'" id="outBtn">退出</a>-->
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
<script type="text/javascript" src="/javascript/ieqm/exp-sing-account.js"></script>
</body>
</html>