<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>调价记录维护</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid"></table>

<div id="tb" style="padding:2px 5px;">
    <a href="#" id="search" class="easyui-linkbutton" iconCls="icon-filter">查询</a>
    <a href="#" id="add" class="easyui-linkbutton" iconCls="icon-add">增加</a>
    <a href="#" id="delete" class="easyui-linkbutton" iconCls="icon-remove">删除</a>
    <a href="#" id="save" class="easyui-linkbutton" iconCls="icon-save">保存</a>
</div>
<div id="ft" style="padding:2px 5px;">
    起始日期：<input id="startDate" class="easyui-validatebox easyui-datetimebox"/>
    结束日期:<input id="stopDate" class="easyui-validatebox easyui-datetimebox"/>
</div>
<div id="stockRecordDialog" class="easyui-dialog" style="width:500px;height:300px;">
    <div id="stockRecordDatagrid">

    </div>
</div>
<div id="hisDialog" class="easyui-dialog" style="width:500px;height:300px;">
    <div id="priceHis">

    </div>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/exp-price-modify.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>