<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>库存限量报警</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body class="easyui-layout" style="width: 100%;height:100%" >

<div region="north" title="库存限量报警查询" collapsed=false style="height:80px;" >
    <form id="mysearch" method="post" style="padding:15px">
        产品名称:&nbsp;&nbsp;&nbsp;<input name="clinicIndexName" class="easyui-validatebox"  value="" id="expName"/>
    </form>
</div>
<div region="center" >
    <table id="dg" class="easyui-datagrid"> </table>
</div>


<div id="tb" style="padding:2px 5px;">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">提取</a>&nbsp;
    <!--<a href="#" id="oldPriceBtn" class="easyui-linkbutton" iconCls="icon-save" >另存为</a>-->
</div>





<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/exp-stock-upper-low-warning.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>