<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品目录查询</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid">
</table>


<div id="tb" style="padding:2px 5px;">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">检索</a>
    <a href="#" id="clearBtn" class="easyui-linkbutton" iconCls="icon-clear">清屏</a>
    <!--<a href="#" id="saveAsBtn" class="easyui-linkbutton" iconCls="icon-save">另存为</a>-->
    <a href="#" id="printBtn" class="easyui-linkbutton" iconCls="icon-print">打印</a>
</div>
<div id="ft" style="padding:2px 5px;">

</div>

<div id="printDiv" class="easyui-dialog" style="width:1100px;height:520px;">
    <iframe width="1100px" height="520px" id="report">
    </iframe>
</div>
<div id="printft">
    <a class="easyui-linkbutton" href="#" data-options="iconCls:'icon-cancel'" id="printClose">关闭</a>
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/exp-menu-search.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>