<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>医院管理</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid">
</table>


<div id="tb" style="padding:2px 5px;">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">提取</a>
    <a href="#" id="printBtn" class="easyui-linkbutton" iconCls="icon-print">打印</a>
</div>
<div id="ft" style="padding:2px 5px;">
    起始日期：<input id="startDate" class="easyui-datetimebox" style="width:200px;" />&nbsp;&nbsp;结束日期&nbsp;&nbsp;
    <input id="stopDate" class="easyui-datetimebox" style="width:200px;"/>&nbsp;&nbsp;<input id="storageName" type="text" class="easyui-combogrid"/>
</div>




<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/exp-profit-loss-count.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>