<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>按子库房入库统计</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<div class="easyui-datagrid" id="dg">

</div>
<div id="ft">
    开始时间：<input id="startDate" class="easyui-validatebox easyui-datetimebox"/>
    结束时间：<input id="endDate" class="easyui-validatebox easyui-datetimebox"/>
    子库房：<select id="subStorage" class="easyui-combobox" name="state" style="width:150px"></select>
    产品类别：<select id="expForm" class="easyui-combobox" name="state" style="width:150px"></select>
    产品名称：<input id="expName" class="easyui-searchbox" prompt="请输入产品名称" style="width:150px"/>
</div>
<div id="tb">
    <a href="#" id="search" class="easyui-linkbutton" iconCls="icon-search">提取</a>
    <!--<a href="#" id="saveAs" class="easyui-linkbutton" iconCls="">另存为</a>-->
    <a href="#" id="print" class="easyui-linkbutton" iconCls="icon-print">打印</a>
</div>
<div id="printDiv" class="easyui-dialog" style="width:1100px;height:520px;">
    <iframe width="1100px" height="520px" id="report">
    </iframe>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/ieqm/exp-sub-import-detail.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>