<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>根据消耗量定库存量</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid">
</table>


<div id="tb" style="padding:2px 5px;">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">提取</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" iconCls="icon-save">保存</a>
    <a href="#" id="printBtn" class="easyui-linkbutton" iconCls="icon-print">打印</a>
</div>
<div id="ft" style="padding:2px 5px;">
    产品名称：<input id="expName" class="easyui-searchbox" prompt="请输入查询内容" style="width:250px"/>&nbsp;
    统计区间：<input id="startDate" class="easyui-datetimebox"/>&nbsp;到&nbsp;
    <input id="stopDate" class="easyui-datetimebox"/>
    供货厂商：<input id="supplier"  style="width:250px"/>
</div>

<div id="printDiv" class="easyui-dialog" style="width:1100px;height:520px;">
    <iframe width="1100px" height="520px" id="report">
    </iframe>
</div>


<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/exp-storage-upper-lower-market.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>