<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>出库记录查询</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>


<div class="easyui-datagrid" id="importMaster">


</div>

<div id="tb">
    日期区间：
    <input type="text" id="startDate"  class="easyui-datetimebox"  style="width: 145px" >到
    <input type="text" id="stopDate"  class="easyui-datetimebox"  style="width: 145px" >&nbsp;
    产品名称:
    <input type="text" id="searchInput"  style="width: 145px" >&nbsp;
    产品类别:
    <input type="text" id="formClass"  style="width: 145px" >&nbsp;
    出库科室属性:
    <input type="text" id="exportDeptAttr"  style="width: 145px" >&nbsp;
</div>
<div id="ft">
    <a class="easyui-linkbutton" id="searchBtn" href="#" data-options="iconCls:'icon-search'">查询</a>
    <!--<a class="easyui-linkbutton" id="saveBtn" href="#" data-options="iconCls:'icon-save'">保存</a>-->
    <a class="easyui-linkbutton" href="#" data-options="iconCls:'icon-print'">打印</a>
    <!--<a class="easyui-linkbutton" href="#" data-options="iconCls:'icon-clear'">退出</a>-->
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
<script type="text/javascript" src="/javascript/ieqm/exp-export-record-search.js"></script>
</body>
</html>