<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>成本参数获取</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body class="easyui-layout">
<div id="main" data-options="region:'center'">
    <table id="acctParamTable"></table>
</div>
<div id="ft" style="margin:5px;">
    <!--选择月份：<input type="text" id="synDate" class="easyui-datebox" />-->
    <a href="#" id="loadBtn" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">重新加载参数数据</a>
    <a href="#" id="addBtn" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增参数</a>
    <a href="#" id="editBtn" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">编辑参数</a>
    <a href="#" id="removeBtn" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除参数</a>
</div>
<div style="padding:5px;text-align:right;" id="winFt">
    <a href="#" id="okBtn" class="easyui-linkbutton" icon="icon-ok">确定</a>
    <a href="#" id="noBtn" class="easyui-linkbutton" icon="icon-cancel">取消</a>
</div>

<div id="paramWin" class="easyui-window" data-options="footer:'#winFt',title:'参数维护'">
    <form id="itemForm" data-options="fit:true" style="padding:10px;">
        <input type="hidden" class="easyui-textbox" id="id" />
        <div style="padding-top: 5px">
            <label for="paramName">参数名称：</label>
            <input class="easyui-textbox" type="text" id="paramName" style="width: 605px"/>
        </div>
        <div style="padding-top: 5px">
            <label for="paramType">参数类型：</label>
            <input class="easyui-textbox" type="text" id="paramType" style="width: 605px"/>
        </div>
        <div style="padding-top:10px;">
            <label for="paramSql">&nbsp;参数SQ：</label>
            <textarea id="paramSql" style="width: 600px;height:400px;"></textarea>
        </div>
    </form>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/javascript/htca/acct-param.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>