<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>科室单项成本录入</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body class="easyui-layout">


<div id="mainPanel" data-options="region:'center'">
    <table id="acctCostTable"></table>
</div>

<div id="ft" style="margin:5px;">
    时间：<input type="text" id="fetchDate"  class="easyui-datebox" >
    成本项目：<input type="text" class="easyui-combobox" id="costType" />
    <a href="#" id="searchBtn" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询成本</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存成本</a>
    <a href="#" id="removeBtn" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除成本</a>
    <a href="#" id="profitFetchBtn" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">绩效成本提取</a>
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/javascript/htca/acct-dept-cost.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>