<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>核算信息发布</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body class="easyui-layout">

<div id="main" data-options="region:'center'">
    <table id="holidayDictTable" class="easyui-datagrid">
    </table>
</div>


<div id="ft" style="text-align: left">
    查询月份：<input type="text" id="synDate" class="easyui-datebox" />
    <a href="#" id="queryBtn" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
    <a href="#" id="addBtn" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
    <a href="#" id="delBtn" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/javascript/htca/holiday-dict.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>