<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>备货明细</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid">
</table>

<div id="ft">
    供货厂商：<input id="supplier" class="easyui-combogrid" style="width:250px"/>
    &nbsp;消耗品：<input id="dept" class="easyui-combogrid" style="width:250px"/>
</div>

<div id="tb">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">详情</a>
</div>

<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/prepare/exp-prepare-detail.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>