<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>基础数据维护-收益调整项目字典</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body class="easyui-layout">
<div id="main" data-options="region:'center'" style="padding:1px;background:#eee;">
    <table id="incomeTypeGrid">

    </table>
</div>
<div id="ft" style="margin:5px;">
    <a href="#" id="addBtn" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加收益分类</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存收益分类</a>
    <a href="#" id="removeBtn" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除选中的收益分类</a>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/javascript/htca/acct-profit-change-dict.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>