<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一线核算单元成本提取</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body class="easyui-layout">
<div id="main" data-options="region:'center'">
    <table id="deptCostTable">
    </table>
</div>
<div id="ft" style="margin:5px;">
    时间：<input type="text" id="fetchDate"  class="easyui-datebox" >
    提取标准:<input type="text" id="fetchType" class="easyui-combobox" />
    <a href="#" id="searchBtn" class="easyui-linkbutton" data-options="iconCls:'icon-search'">成本提取</a>
    <a href="#" id="queryCollectionBtn" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">查看汇总</a>
    <a href="#" id="saveBtn" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">保存</a>
    <a href="#" id="removeBtn" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除成本</a>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/javascript/htca/dept-cost-fetch.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>