<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>极目云-医院信息管理系系统</title>
    <link id="easyuiTheme" rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/portal.css">
    <link rel="stylesheet" href="/assert/easyui/common.css">
    <link rel="stylesheet" href="/assert/metro/MetroJs.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>

<div class="moreAppWin">
    <table id="appTable" CLASS="moreApp">
    </table>
</div>


<div class="easyui-window" id="addAppWin">
    <table id="addAppTab" class="easyui-datagrid">

    </table>
</div>
<div id="tb" style="padding:2px 5px;">
    <a href="#" id="addApp" class="easyui-linkbutton" iconCls="icon-add">添加本地程序</a>
    <a href="#" id="modifyApp" class="easyui-linkbutton" iconCls="icon-edit">修改本地应用程序</a>
    <a href="#" id="delApp" class="easyui-linkbutton" iconCls="icon-edit">删除本地应用程序</a>
    <a href="#" id="saveApp" class="easyui-linkbutton" iconCls="icon-save">保存</a>
    <a href="#" id="shutWindow" class="easyui-linkbutton" iconCls="icon-remove">关闭窗口</a>
</div>
<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/deploy-java.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.portal.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/javascript/jeasyui.common.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
<script type="text/javascript" src="/assert/metro/MetroJs.js"></script>
<script type="text/javascript" src="/javascript/common/portal.js"></script>
</body>
</html>