<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>产品价格查询</title>
    <link rel="stylesheet" href="/assert/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/assert/easyui/themes/color.css">
    <link rel="stylesheet" href="/assert/easyui/themes/icon.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<table id="dg" class="easyui-datagrid">
</table>


<div id="tb" style="padding:2px 5px;">
    <a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">提取</a>
    <a href="#" id="nowPriceBtn" class="easyui-linkbutton" iconCls="">现行价格</a>
    <a href="#" id="oldPriceBtn" class="easyui-linkbutton" iconCls="">历史价格</a>
    <a href="#" id="printBtn" class="easyui-linkbutton" iconCls="icon-print">打印</a>
</div>
<div id="ft" style="padding:2px 5px;">
    产品名称：<input id="search" name="expName" />
</div>

<div id="printDiv" class="easyui-dialog" style="width:1100px;height:520px;">
    <iframe width="1100px" height="520px" id="report">
    </iframe>
</div>


<script type="text/javascript" src="/assert/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/assert/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/assert/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/javascript/exp-price-search.js"></script>
<script type="text/javascript" src="/javascript/tool.js"></script>
</body>
</html>